{% extends 'ride/base.html' %}
{% block content %}

<p>
  Please do not forget to click the Complete button to finish this order!
</p>

<br><br>

<table border = "1">
        <thead>
                <tr>
                        <th>Status</th>
                        <th>Complete</th>
                        <th>Owner</th>
                        <th>Destination</th>
                        <th>Arrival Time</th>
                        <th>Passenger Number</th>
                        <th>Share</th>
                        <th>Type Requirement</th>
                        <th>Special Requirement</th>
			<th>Sharer</th>
			<th>Driver</th>
			<th>Driver's vehicle</th>
                </tr>
        </thead>

        <tbody>
          {% for ride in object_list %}
                <tr>
                  <td>{{ ride.status }}</td>
		  
		  {% if ride.status != 'completed' %}
                  <td><button onclick="window.locaion.href='{% url 'ridedriver-complete' ride.id %}'">Complete</button></td>
		  {% else %}
		  <td>Order Completed</td>
		  {% endif %}
                  <td>{{ ride.owner.username }}</td>
                  <td>{{ ride.destination }}</td>
                  <td>{{ ride.arrival_time|date:"m/d/Y P" }}</td>
                  <td>{{ ride.num_passengers }}</td>
                  <td>{{ ride.sharing }}</td>
                  <td>{{ ride.vehicle_type }}</td>
                  <td>{{ ride.special_requests }}</td>
		  <td>{{ ride.sharer }}</td>
		  <td>{{ ride.driver_name }}</td>
		  <td>{{ ride.license_plate }}</td>

                </tr>
          {% endfor %}
        </tbody>

</table>

{% endblock content %}
