{% extends 'ride/base.html' %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom md-4">Cancel Ride</legend>
                <h2>Cancel your ride to {{ object.destination }} at {{ object.arrival_time }}?</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Go Ahead</button>
                <a class="btn btn-outline-secondary" href="{% url 'rideowner-status'%}">No, I've Changed My Mind</a>
            </div>
        </form>
    </div>
{% endblock content %}
