{% extends 'ride/base.html' %}
{% block content %}

<br>
<p>
  Here are all your rides.
</p>
<p>
  You can cancel the rides by clicking "Cancel Ride" or edit the rides by clicking "Change Ride".
</p>
<p>
  Once a driver comfirms your ride, you cannot change or cancel that ride.
</p>
<br>


<table border="1">
    <thead>
        <tr>
            <th>Status</th>
            <th>Change</th>
            <th>Cancel</th>
            <th>Owner</th>
            <th>Destination</th>
            <th>Arrival Time</th>
            <th>Passenger Number</th>
            <th>Share</th>
            <th>Type Requirement</th>
            <th>Special Requirement</th>
            <th>Sharer</th>
            <th>Driver</th>
            <th>Driver's vehicle</th>
        </tr>
    </thead>

    <tbody>
        {% for ride in object_list %}
        <tr>
            <td>{{ ride.status }}</td>

            {% if ride.status == 'open' %}
            <td><button onclick="window.location.href='{% url 'rideowner-update' ride.id %}'">Change Ride</button></td>
            {% else %}
            <td>Cannot Change now!</td>
            {% endif %}


            {% if ride.status == 'open' %}
            <td><button onclick="window.location.href='{% url 'rideowner-delete' ride.id %}'">Cancel Ride</button></td>
            {% else %}
            <td>Cannot Cancel now!</td>
            {% endif %}


            <td>{{ ride.owner.username }}</td>
            <td>{{ ride.destination }}</td>
            <td>{{ ride.arrival_time|date:"m/d/Y P" }}</td>
            <td>{{ ride.num_passengers }}</td>
            <td>{{ ride.sharing }}</td>
            <td>{{ ride.vehicle_type }}</td>
            <td>{{ ride.special_requests }}</td>
            <td>{{ ride.sharer }}</td>
            <td>{{ ride.driver_name }}</td>
            <td>{{ ride.license_plate }}</td>

        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock content %}
